<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="/static/photos/favicon.png" type="image/x-icon">
    {% block css %}
    <link rel="stylesheet" href="/static/css/index.min.23a5b1ca.min.css" media="all">
    {% endblock css %}
</head>
<body>
<div class="page">

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">


            <form id="search_form" class="navbar-search" method="post" >
                <input type="text" id="q" name="content" class="search-query span3" placeholder="可输入用户名或帖子标题查找" value="">
            </form>
            <ul class="nav pull-right">
                <li><a href="{{ url_for('topic.index') }}">首页</a></li>
                <li>
                    <a >
                        消息
                    </a>
                </li>
                <li><a href="https://github.com/LiRuiPan">源码</a></li>
                <li><a href="{{ url_for('index.about') }}">关于</a></li>
                <li><a href="{{ url_for('user.setting') }}">设置</a></li>
                <li>
                    <a href="{{ url_for('user.logout') }}">退出</a>
                </li>

            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>
<div id="main">
    {% block right %}
        <div id="sidebar">
            {% if user %}
            <div class="panel">
                <div class="header">
                    <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">
                    <div class="user_card">
                        <div>
                            <a class="user_avatar" href="{{ url_for('index.profile') }}">
                                <img src="{{ user.image }}" title="{{ user.username }}" alt="{{ user.username }}">
                            </a>
                            <span class="user_name">
                                <a class="dark" href="{{ url_for('index.profile') }}">{{ user.username }}</a>
                            </span>

                            <div class="board clearfix">
                                <div class="floor">
                                </div>
                            </div>
                            <div class="space clearfix"></div>
                            <span class="signature">{{ user.signature }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="inner">
                    {% block apply %}
                    <a href="" class="create_topic_btn">
                        <span class="span-success">发布话题</span>
                    </a>
                    {% endblock apply%}
                </div>
            </div>
            {% else %}
            <div class="panel">
                <div class="inner">
                    <a href="{{ url_for('index.index') }}" class="create_topic_btn">
                        <span class="span-success">注册/登陆</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock right %}
    {% block content %}{% endblock content %}
</div>
</div>
{% block script %}{% endblock script %}

<div class="footer">

    <div class="col_fade" style="text-align: center">
        <p><a href="http://www.miitbeian.gov.cn" >备案号：XXXXXXXX</a></p>
    </div>

</div>
</body>

</html>