<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>找回密码</title>
     <link rel="icon" href="/static/photos/favicon.png" type="image/x-icon">

    <link href="/static/css/style_log.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/userpanel.css">
</head>
<body class="login">
<div class="login_m">
    <div class="login_boder" style="position: relative; top: 120px">
        <form class="form-horizontal" method="post" action="{{ url_for('.find', id=cap_id) }}">
            <div class="login_padding" id="login_model">

                <h2 class="find">用户名：</h2>
                <label class="find">
                    <input type="text" id="username" class="txt_input txt_input2" name="username"
                           placeholder="要找回密码的用户名">
                </label>
                <h2 class="find">邮箱：</h2>
                <label class="find">
                    <input type="text" name="email" class="txt_input" placeholder="用户注册的邮箱">
                </label>
                <h2 class="find">验证码：</h2>
                <label class="find">
                    <input type="text" name="content" class="txt_input">
                </label>
                <label style="position: relative; top:32px">
                    <img src="{{ path }}" title="验证码" alt="验证码" style="position: relative; top: 12px">
                    看不清？<a href="{{ url_for('.find_view') }}">换一张</a>
                </label>
                <br><br>
                <div class="rem_sub" style="position: relative; top:32px">
                    <label>
                        <input type="submit" class="sub_button" name="button" id="button" value="确定"
                                       style="opacity: 0.7; width: 70px; position: relative; top: -48px; left: -10px;">
                    </label>
                </div>
            </div>
        </form>
        <div class="error" style="display: none">{{ result }}</div>
    </div>
</div>
<br> <br>
<p align="center"><a href="http://www.miitbeian.gov.cn">苏ICP备18068898号</a></p>
<script>
    error = document.querySelector('.error')
    if (error.innerText != ' ') {
        alert(error.innerText)
    }

</script>
</body>
</html>