{% extends 'base.html' %}
{% block title %}个人主页{% endblock title %}
{% block apply %}
{% if current == user.id %}
    {{ super() }}
{% else %}
        <a href="{{ url_for('mail.write', id=user.id) }}" class="create_topic_btn">
            <span class="span-success">发私信</span>
        </a>
{% endif %}
{% endblock apply%}
{% block content %}
 <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('topic.index') }}">主页</a><span class="divider">/</span></li>
                    <li class="active">个人主页</li>
                </ul>
            </div>
            <div class="inner userinfo">
                <div class="user_big_avatar">
                    <img src="{{ user.image }}" class="user_avatar" title="{{ user.username }}"
                         alt="{{ user.username }}">
                </div>
                <a class="dark">{{ user.username }}</a>

                <div class="user_profile">
                    <ul class="unstyled">
                    </ul>
                </div>
                <p class="col_fade register-time" data-created_time="{{ user.created_time }}"></p>

            </div>
        </div>

        <div class="panel">
            <div class="header">
                <span class="col_fade">最近创建的话题</span>
            </div>
            {% if user.topics() %}
            {% for t in user.topics() | sort %}
                <div class="cell">
                    <a class="user_avatar pull-left" href="{{ url_for('index.profile') }}">
                        <img src="{{ user.image }}" title="{{ user.username }}">
                    </a>
                    <span class="reply_count pull-left">
                        <span class="count_of_replies" title="回复数">
                        {{ t.replies() | count }}
                        </span>
                        <span class="count_seperator">/</span>
                        <span class="count_of_visits" title="点击数">
                        {{ t.views }}
                        </span>
                    </span>
                    <span class="last_time pull-right">
                        <span class="last_active_time g-time" data-created_time="{{ t.created_time }}"></span>
                    </span>
                    <div class="topic_title_wrapper">
                        <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}" title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                        {% if current == user.id %}
                        <a style="position:relative; left:22px;" href="{{ url_for('topic.delete', id=t.id, token=token) }}">删除</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="inner">
                  <p>无话题</p>
                </div>
            {% endif %}
        </div>
        <div class="error" style="display: none">{{ result }}</div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">最近参与的话题</span>
            </div>
            {% if user.replies() %}
            {% for r in user.replies() | sort %}
                <div class="cell">
                    <a class="user_avatar pull-left" href="{{ url_for('index.user_detail', id=r.topic().user().id) }}">
                        <img src="{{ r.topic().user().image }}" title="{{ r.topic().user().username }}">
                    </a>
                    <span class="reply_count pull-left">
                        <span class="count_of_replies" title="回复数">
                            {{ r.topic().replies() | count }}
                        </span>
                        <span class="count_seperator">/</span>
                        <span class="count_of_visits" title="点击数">
                            {{ r.topic().views }}
                        </span>
                    </span>
                    <a class="last_time pull-right" href="{{ url_for('topic.detail', id=r.topic_id) }}">
                        <img class="user_small_avatar" src="{{ user.image }}">
                        <span class="last_active_time gua-time" data-created_time="{{ r.created_time }}"></span>
                    </a>
                    <div class="topic_title_wrapper">
                        <a class="topic_title" href="{{ url_for('topic.detail', id=r.topic_id) }}"
                           title="{{ r.topic().title }}">
                            {{ r.topic().title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="inner">
                    <p>无话题</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }

    var es = function (sel) {
        return document.querySelectorAll(sel)
    }
    
    var ft = function (time) {
        var m = Math.floor(time / 60)
        var h = Math.floor(m / 60)
        var d = Math.floor(h / 24)
        var y = Math.floor(d / 365)
        if (y > 0) {
            var s = `${y}年前`
            return s
        }else if (d > 0) {
            var s = `${d}天前`
            return s
        } else if (h > 0) {
            var s = `${h}小时前`
            return s
        } else if (m > 0) {
            var s = `${m}分钟前`
            return s
        } else {
            var s = `${time}秒前`
            return s
        }
    }

    var ct = function () {
        var t = e('.register-time')
        var time = Number(t.dataset.created_time)
        var now = Math.floor(new Date() / 1000)
        var delta = now - time
        t.innerText = '注册时间 ' + ft(delta)
    }

    var registerTimer = function () {
        setInterval(function () {
            var times = es('.g-time')
            for (var i = 0; i < times.length; i++) {
                var t = times[i]
                var time = Number(t.dataset.created_time)
                var now = Math.floor(new Date() / 1000)
                var delta = now - time
                t.innerText = ft(delta)
            }
        }, 1000)
    }

    var error = function () {
        error = document.querySelector('.error')
        if (error.innerText != ' ') {
            alert(error.innerText)
        }
    }

    var __main = function () {
        ct()
        registerTimer()
        error()
    }

    __main()

</script>
{% endblock script %}